.bk_container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}
.bk_item {
  background-image: linear-gradient(#a0dbbe, #5ecc95),
                    linear-gradient(#a0dbbe, #5ecc95),
                    linear-gradient(#159957, #159957),
                    linear-gradient(#159957, #159957);

  background-repeat: no-repeat;
  background-size: 6px 2px;
  background-position: top left, top right, bottom left, bottom right;

  border: solid;
  border-image: linear-gradient(to bottom, #5ecc95, #159957) 1 100%;
  border-width: 0 2px;
  background-color: none;
  width: 23%;
  height: 68px;

  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  text-align: center;  
  
  position: relative;
  vertical-align: middle;
}
.bk_item a {
  color: #159957;
}

.trow {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 18px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 18px;
}
.tile {
  width: 31%;
  background-color: #f8f8f8;
  border: 0px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.tile img {
  object-position: cover;  
  height: 128px;
  background: transparent;
}
.tile_highlight {
  color: #159957;
  text-align: right;
  font-size: small;
  font-weight:bold;
  position:absolute;
  top: -11px;
  right: 8px;
}

h3 {
  text-align: center;
}
h5 {
  font-size: small;
  text-align: center;
  color: lightgray;
}
p {
  font-size: small;
  text-align: center;
}
.description {
  font-size: small;
  vertical-align: top;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    color:white;
    text-decoration:none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #DD2A7B;
  color: white;
}
