.bk_container {
  display: flex;
  gap: 18px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.bk_container a {
  background-color: #f8f8f8;
  width: 31%;
  border: 0px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
  text-align: center;
}

.trow {
  margin: 0 auto;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 18px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 18px;
}
.tile {
  width: 31%;
  background-color: #f8f8f8;
  border: 0px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: top;
  text-align: center;
}
.tile img {
  object-position: cover;  
  height: 128px;
  background: transparent;
}
h3 {
  text-align: center;
}
h5 {
  font-size: small;
  text-align: center;
  color: lightgray;
}
p {
  font-size: small;
  text-align: center;
}
.description {
  font-size: small;
  vertical-align: top;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    color:white;
    text-decoration:none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #DD2A7B;
  color: white;
}
